@import "../abstracts//variables";


body {
  background-color: $Basebackground; // Color de fondo basado en variable
  font-family: $default-font-family; // Fuente basada en variable
  overflow-x: hidden; // Evita desplazamiento horizontal
  

  &.modal-open {
    overflow: hidden; // Evita el desplazamiento cuando el modal está abierto
  }

  cursor: default; // Asegura que el cursor sea el predeterminado
}
